<label>Server Name</label>
<!-- event binding/ one-way data binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<!-- two-way data binding -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<!-- property binding -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- string interpolation vs. property binding -->
<!-- <p>{{ allowNewServer }}</p> -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">
  Server was created, server name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<!-- <app-server></app-server> -->
<!-- loop -->
<app-server *ngFor="let server of servers"> </app-server>

<!-- my assignment solution -->
<hr />
<button class="btn btn-primary" (click)="buttonClick()">Display Details</button>
<p [ngClass]="{ hide: displayParagraph === false }">Secret Password = tuna</p>
<!-- <p *ngFor="let log of logs" [ngClass]="{ 'after-5': logs.length + 1 > 4 }">
  {{ log }}
</p> -->
<div *ngFor="let log of logs">
  <p *ngIf="logs.length + 1 <= 5; else after5">
    {{ log }}
  </p>
  <ng-template #after5>
    <p class="after-5">
      {{ log }}
    </p>
  </ng-template>
</div>

<!-- max's solution -->
<hr />
<!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">
  Display Details
</button> -->
<button class="btn btn-primary" (click)="onToggleDetails()">
  Display Details
</button>
<p *ngIf="showSecret">Secret Password = tuna</p>
<div
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text': i >= 4 }"
>
  {{ logItem }}
</div>
